@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 20px/1 "Roboto", sans-serif;
}

body {
  width: 100%;
  font-family: Arial;
  font-size: 1.5em;
  background-color: rgb(50, 115, 220);
  color: #fff;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-basis: 100%;
  background-color: rgb(255, 145, 90);
}

.main-content {
  flex-basis: 50%;
  background-color: rgb(90, 145, 255);
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
