@media (min-width: 400px) {
	:root {
		--main-max-width: 95%;
	}

	.project-card-container {
		grid-gap: 1rem;
		padding: 1rem;
	}
	.header nav {
		padding: 0 6rem 0 6rem;
	}

	.footer__list {
		padding-left: 20%;
		padding-right: 20%;
	}
}

@media (min-width: 700px) {
	:root {
		--main-max-width: 90%;
	}

	.project-card-container {
		grid-gap: 1.3rem;
		padding: 1.3rem;
	}

	.header nav {
		padding: 0 8rem 0 8rem;
	}

	.footer__list {
		padding-left: 25%;
		padding-right: 25%;
	}
}

@media (min-width: 1024px) {
	:root {
		--main-max-width: 85%;
	}

	.project-card-container {
		grid-gap: 2rem;
		padding: 2rem;
	}

	.header header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.header nav {
		width: 50vw;
		padding: 0 6rem 0 6rem;
		display: flex;
		flex-direction: column-reverse;
	}

	.header_nav_list {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer__list {
		padding-left: 30%;
		padding-right: 30%;
	}
}

@media (min-width: 1800px) {
	:root {
		--main-max-width: 82%;
	}

	.project-card-container {
		grid-gap: 2.5rem;
		padding: 2.5rem;
	}
}
