@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Standardizing CSS */
* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

/* VARIABLES */
:root {
	--base-font-family: "Roboto", sans-serif, "Times New Roman";
	--base-font-size: calc((12px + ((100vw - 320px) / 63)));

	/* Define Color Palette */
	/* --color-dominant: #031926; */
	--color-dominant: #192d49;
	--color-secondary: #468189;
	--color-accent-1: #9dbebb;
	--color-accent-2: #77aca2;
	--color-compliment: #f6edd6;
	--color-dominant-muted: rgb(77, 94, 102);
	--color-accent-1-muted: rgb(119, 147, 150);
	--color-light: #ffffff;

	/* Sizing variables */
	--main-max-width: 100%;
	--min-card-width: 14rem;
}

html {
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
}

.wrapper {
	background-color: var(--color-compliment);
	max-width: 100vw;
	min-height: 100vh;
	display: grid;

	/* Gives main content section at minimum as much space as it needs for its contents,
  and at most a pre-defined percentage of the wrapper, 100% by default, and modified by
  media queries.  Note: if the largest unbreakable element is larger than 100%
  of the wrapper, scroll bars will be created. */
	grid-template-columns: 1fr minmax(min-content, var(--main-max-width)) 1fr;
	overflow: scroll;

	/* Gives header and footer exactly as much vertical space as they need,
  and everything else goes to main. */
	grid-template-rows: min-content 1fr min-content;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: var(--color-dominant);
	color: var(--color-light);
}

.main {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: var(--color-light);
	color: var(--color-dominant);
	padding: 0 0.8rem;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: var(--color-accent-1);
	color: var(--color-accent-1-muted);
}

/*----------------------- CARD GALLERY -------------------------*/

.project-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
	grid-gap: 0.5rem;
	padding: 0.5rem;
}

.project-card {
	box-shadow: 0px 0.05rem 0.3rem black;
	background-color: var(--color-light);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-card__title {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.2rem;
	margin: 0.2rem;
	background-color: var(--color-light);
	color: var(--color-dominant);
}

.project-card__thumbnail {
	max-width: 15rem;
	padding: 0.1rem 0.5rem;
	margin: 0 auto;
}

.project-card__thumbnail img {
	display: block;
	border: 1px solid var(--color-dominant-muted);
}

.project-card__tools {
	margin: 0.2rem 0.3rem 0.1rem 0.3rem;
	line-height: 1rem;
	font-size: 1rem;
}

.project-card__description {
	margin: 0.2rem 0.3rem 0.1rem 0.3rem;
	line-height: 1.2rem;
	font-size: 0.8rem;
	background-color: var(--color-light);
	color: var(--color-secondary);
}

.project-card__button {
	display: block;
	padding: 0.3rem 0.8rem;
	margin: 0 0.3rem 0.3rem 0.3rem;
	background-color: var(--color-dominant);
	color: var(--color-light);
	text-decoration: none;
	text-align: center;
	transition: 0.3s ease-out;
}
