@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Standardizing CSS */
* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

/* VARIABLES */
:root {
	/* Define Color Palette */
	/* --color-dominant: #031926; */
	--color-dominant: #192d49;
	--color-secondary: #468189;
	--color-accent-1: #9dbebb;
	--color-accent-2: #77aca2;
	--color-compliment: #faf5e8;
	--color-dominant-muted: rgb(77, 94, 102);
	--color-accent-1-muted: rgb(119, 147, 150);
	--color-light: #ffffff;

	--base-font-family: "Roboto", sans-serif, "Times New Roman";

	/* Sizing variables */
	--base-font-size: calc((10px + ((100vw - 320px) / 120)));
	--main-max-width: 100%;
	--min-card-width: 14rem;
	/* --main-max-width: calc(100% - ((((100vw - 320px) / (1600px)) * 20%))); */
}

html {
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
}

p a {
	color: var(--color-secondary);
}

p a:hover {
	color: var(--color-accent-1-muted);
}

.wrapper {
	background-color: var(--color-compliment);
	max-width: 100vw;
	min-height: 100vh;
	display: grid;

	/* Gives main content section at minimum as much space as it needs for its contents,
  and at most a pre-defined percentage of the wrapper, 100% by default, and modified by
  media queries.  Note: if the largest unbreakable element is larger than 100%
  of the wrapper, scroll bars will be created. */
	grid-template-columns: 1fr minmax(min-content, var(--main-max-width)) 1fr;
	overflow: scroll;

	/* Gives header and footer exactly as much vertical space as they need,
  and everything else goes to main. */
	grid-template-rows: min-content 1fr min-content;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: var(--color-dominant);
	color: var(--color-light);
	padding: 0.4rem;
}

.main {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: var(--color-compliment);
	color: var(--color-dominant);
	padding: 0 0.8rem;
}

.main section {
	margin: 2rem 0;
	background-color: var(--color-light);
	border: 0.1rem solid var(--color-accent-1);
	border-radius: 1rem;
	box-shadow: 0px 5px 10px grey;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: var(--color-accent-1);
	color: var(--color-dominant-muted);
}

#intro {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#intro figure {
	max-width: 50%;
}

#intro figure img {
	border-radius: 50%;
	border: 0.2rem solid var(--color-accent-1);
}

/* Header Contents */

.header header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.header__logo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 0.2rem;
}

.header__logo h1 {
	font-weight: bold;
	font-size: 2rem;
}

.header__logo h4 {
	padding: 1rem;
	font-size: 1rem;
}

.header nav {
	margin: 2rem 0 0 0;
	font-size: 1.4rem;
}

.header__nav__list {
	display: flex;
	justify-content: space-around;
}

.header__nav__list li {
	padding: 0.2rem;
	border: 0.1rem solid transparent;
}

.header__nav__list li:hover {
	border-color: var(--color-dominant-muted);
}

.header figure {
	width: 100%;
}

/*----------------------- CARD GALLERY -------------------------*/

.project-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
	grid-gap: 0.5rem;
	padding: 0.5rem;
}

.project-card {
	box-shadow: 0px 0.05rem 0.3rem black;
	background-color: var(--color-light);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-card:hover {
	box-shadow: 0px 0.1rem 1rem black;
}

.project-card__title {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.2rem;
	margin: 0.2rem;
	background-color: var(--color-light);
	color: var(--color-dominant);
}

.project-card__thumbnail {
	max-width: 15rem;
	padding: 0.1rem 0.5rem;
	margin: 0 auto;
}

.project-card__thumbnail img {
	display: block;
	border: 1px solid var(--color-dominant-muted);
}

.project-card__tools {
	margin: 0.2rem 0.3rem 0.1rem 0.3rem;
	line-height: 1rem;
	font-size: 1rem;
}

.project-card__description {
	margin: 0.2rem 0.3rem 0.1rem 0.3rem;
	line-height: 1.2rem;
	font-size: 0.8rem;
	background-color: var(--color-light);
	color: var(--color-secondary);
}

.project-card__button {
	display: block;
	padding: 0.3rem 0.8rem;
	margin: 0 0.3rem 0.3rem 0.3rem;
	background-color: var(--color-dominant);
	color: var(--color-light);
	text-decoration: none;
	text-align: center;
	transition: 0.3s ease-out;
}

/* All Children of Main */

.main__section {
	padding: 0.5rem;
}

.main__section h1,
.main__section h2,
.main__section h3,
.main__section h4,
.main__section h5,
.main__section p {
	padding: 0.75rem;
}

.main__section h1,
.main__section h2,
.main__section h3,
.main__section h4 {
	text-align: center;
	font-weight: bold;
}

.main__section h4 {
	border-top: 0.1rem solid var(--color-accent-1);
	border-bottom: 0.1rem solid var(--color-accent-1);
}

.main__section h1 {
	font-size: 3rem;
}

.main__section h2 {
	font-size: 3rem;
}

.main__section h3 {
	font-size: 2rem;
}

.main__section h4 {
	font-size: 1.5rem;
}

.main__section p {
	line-height: 1.62;
	color: var(--color-dominant-muted);
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skills-list li {
	padding: 0.75rem 0.5rem;
	font-weight: bold;
}

.contact-list {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contact-list li {
	padding: 0.75rem;
}

.contact-list a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contact-list figure {
	width: 4rem;
	height: 4rem;
}

#contact-list__phone figure {
	background-image: url("../images/google_voice_icon.png");
	background-size: 100% 100%;
}

#contact-list__phone figure:hover {
	background-image: url("../images/google_voice_icon_colored.png");
	background-size: 100% 100%;
}

#contact-list__text figure {
	background-image: url("../images/sms_text_icon.png");
	background-size: 100% 100%;
}

#contact-list__text figure:hover {
	background-image: url("../images/sms_text_icon_colored.png");
	background-size: 100% 100%;
}

#contact-list__email figure {
	background-image: url("../images/email_icon.png");
	background-size: 100% 100%;
}

#contact-list__email figure:hover {
	background-image: url("../images/email_icon_colored.png");
	background-size: 100% 100%;
}

.footer {
	padding: 2rem 1rem 0.5rem 1rem;
}

.footer p {
	margin-top: 1.5rem;
	font-size: 1.3rem;
	text-align: center;
}

.footer__list {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__list figure {
	width: 3rem;
	height: 3rem;
	background-size: 100% 100%;
	background-image: url("../images/google_voice_icon.png");
}

#linkedin-link {
	background-image: url("../images/linkedin_icon.png");
}

#linkedin-link:hover {
	background-image: url("../images/linkedin_icon_colored.png");
}

#github-link {
	background-image: url("../images/github_icon.png");
}

#github-link:hover {
	background-image: url("../images/github_icon_colored.png");
}

#facebook-link {
	background-image: url("../images/facebook_icon.png");
}

#facebook-link:hover {
	background-image: url("../images/facebook_icon_colored.png");
}

#twitter-link {
	background-image: url("../images/twitter_icon.png");
}

#twitter-link:hover {
	background-image: url("../images/twitter_icon_colored.png");
}
