/* .header {
  background-color: red;
} */

/* .footer {
  background-color: yellow;
} */

/* .header,
.footer {
	min-height: 5vh;
} */

/* .main p {
	margin: 0.5rem;
	padding: 0.5rem;
	border: 0.1rem solid var(--accent-1);
} */

nav {
	/* border: 3px solid green; */
	/* background-color: #f00; */
}

ul {
	/* border: 1px solid blue; */
}

li {
	/* border: 1px solid black; */
}

#home-page p {
	margin: 3rem;
}
