.contact-list {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contact-list li {
	padding: 0.75rem;
}

.contact-list a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contact-list h5 {
	color: var(--secondary);
}

.contact-list figure {
	width: 4rem;
	height: 4rem;
}

#contact-list__phone figure {
	background-image: url("../../images/google_voice_icon.png");
	background-size: 100% 100%;
}

#contact-list__phone figure:hover {
	background-image: url("../../images/google_voice_icon_colored.png");
	background-size: 100% 100%;
}

#contact-list__text figure {
	background-image: url("../../images/sms_text_icon.png");
	background-size: 100% 100%;
}

#contact-list__text figure:hover {
	background-image: url("../../images/sms_text_icon_colored.png");
	background-size: 100% 100%;
}

#contact-list__email figure {
	background-image: url("../../images/email_icon.png");
	background-size: 100% 100%;
}

#contact-list__email figure:hover {
	background-image: url("../../images/email_icon_colored.png");
	background-size: 100% 100%;
}
